<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
	<servlet>
		<servlet-name>Achat</servlet-name>
		<servlet-class>mg.adequa.servlets.SAchat</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Docteur</servlet-name>
		<servlet-class>mg.adequa.servlets.SDocteur</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TableauDeBord</servlet-name>
		<servlet-class>mg.adequa.servlets.STableauDeBord</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserSession</servlet-name>
		<servlet-class>mg.adequa.servlets.UserSessionServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>Achat</servlet-name>
		<url-pattern>/achat</url-pattern>
		<url-pattern>/achat/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Docteur</servlet-name>
		<url-pattern>/docteur</url-pattern>
		<url-pattern>/docteur/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>TableauDeBord</servlet-name>
		<url-pattern>/tableau-de-bord</url-pattern>
		<url-pattern>/tableau-de-bord/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UserSession</servlet-name>
		<url-pattern>/user-session</url-pattern>
		<url-pattern>/user-session/*</url-pattern>
	</servlet-mapping>
</web-app>